<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.637</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:xalg</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:xalg</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:xalg</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:xalg</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:xalg</permission>
    <permission>hudson.model.Computer.Build:xalg</permission>
    <permission>hudson.model.Computer.Configure:xalg</permission>
    <permission>hudson.model.Computer.Connect:xalg</permission>
    <permission>hudson.model.Computer.Create:xalg</permission>
    <permission>hudson.model.Computer.Delete:xalg</permission>
    <permission>hudson.model.Computer.Disconnect:xalg</permission>
    <permission>hudson.model.Hudson.Administer:xalg</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:xalg</permission>
    <permission>hudson.model.Hudson.Read:xalg</permission>
    <permission>hudson.model.Hudson.RunScripts:xalg</permission>
    <permission>hudson.model.Hudson.UploadPlugins:xalg</permission>
    <permission>hudson.model.Item.Build:xalg</permission>
    <permission>hudson.model.Item.Cancel:xalg</permission>
    <permission>hudson.model.Item.Configure:xalg</permission>
    <permission>hudson.model.Item.Create:xalg</permission>
    <permission>hudson.model.Item.Delete:xalg</permission>
    <permission>hudson.model.Item.Discover:xalg</permission>
    <permission>hudson.model.Item.Read:xalg</permission>
    <permission>hudson.model.Item.Workspace:xalg</permission>
    <permission>hudson.model.Run.Delete:xalg</permission>
    <permission>hudson.model.Run.Update:xalg</permission>
    <permission>hudson.model.View.Configure:xalg</permission>
    <permission>hudson.model.View.Create:xalg</permission>
    <permission>hudson.model.View.Delete:xalg</permission>
    <permission>hudson.model.View.Read:xalg</permission>
    <permission>hudson.plugins.selenium.PluginImpl.Admin:xalg</permission>
    <permission>hudson.scm.SCM.Tag:xalg</permission>
    <permission>org.jenkinsci.plugins.envinject.EnvInjectPlugin.ViewVars:xalg</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>jdk 8</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.CommandInstaller>
              <label>rpm</label>
              <command>rpm -UvH ~/var/lib/jenkins/userContent/jdk-8u65-linux-x64.rpm</command>
              <toolHome>/usr/bin/rpm</toolHome>
            </hudson.tools.CommandInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>2</int>
          <string></string>
          <string></string>
          <string>igptest</string>
          <string>https://intranet-stage.slac.stanford.edu</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>