<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>JenkinsBot2</name>
  <description>Second Do&apos;er</description>
  <remoteFS>/var/lib/jenkins</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.10">
    <host>134.79.129.239</host>
    <port>22</port>
    <credentialsId>f342aed3-6f6b-4b9c-a578-e6d1c8459af7</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>Do&apos;er 1</label>
  <nodeProperties/>
  <userId>jenkins</userId>
</slave>
